*{
    margin: 0%;
}
/* ------aside------- */
aside{
    width: 15%;
    height: 100vh;
    background-color: blue;
    float: left;
    position: fixed;
    
}
ul li{
    list-style: none;
    line-height: 60px;   
}

ul li a{
    color: white;
   text-decoration: none;
}

/* a:hover{
    background-color: rgb(197, 85, 197);
    color: black;
    border-radius: 10px;
    
} */
#map{
    /* float: left; */
    margin-top: 250px;
    
}
#copy{
    font-size: 15px;
    padding-bottom: 0%;
    color:whitesmoke;
}

/* -------ABOUT ME------- */

.container{
    height: 620px;
    width: 85%;
    /* border: 2px solid red; */
    float: right;

}

.propic{
    height: 350px;
    width: 350px;
    /* border: 2px solid purple; */
    float: right;
    border-radius: 150%;
    background-image: url(./images/me.jpg);
    background-position: center;
    margin-right: 100px;
    margin-top: 100px;
}

.about{
    margin-top: 100px ;
    /* border: 2px solid gray; */
    width: 50%;
    float: right;
    /* font-family: 'Ubuntu', sans-serif; */
    
}
.about>p{
    line-height: 30px;
    font-size: 20px;
}

/* ----------projects------ */

#projects {
    /* border: 2px solid yellow;     */
    float: right;
   width: 85%;
    height: 650px;
}

.procard{
    border:wheat;
    float: left;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    margin-top: 70px;
    margin-left: 20px;
}
.proc2{
    background-color:#b37227;
}
.proc1{
    background-color: #ff6347;
}

#projects img{
    height: 200px;
    width: 200px;
    border-radius: 15px;
}
#project>a:hover{
    

}
/* ------skills-------- */
#skills{
    width: 85%;
    height: 400px;
    float: right;
    border: 2px solid purple;

}
.skills{
    margin-left:15px;
    margin-top: 80px;
    width: 100px;
    height: 150px;
    border: 2px solid goldenrod;
    float: left;
    font-size: 80px;
    text-align: center;
}
.skills>h2{
    font-size: 15px;
    background-color: black;
    color: white;
    margin-top: 10px;
}


/* ------------Contact------------ */

#Contact{
    float: right;
    width: 85%;
    height: 550px;
    background-color: #d5c6d2;
    
}
.contact{
    background-color: cadetblue;
    width: 450px;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
}
.contact li{
        margin-left: 60px;
}
.contact li input {
    border-radius: 5px;
    border: none;
}

/* --------footer------- */
footer{
    float: right;
    width: 85%;
    height: 150px;
    background-color: black;
}