*{
    margin: 0%;
}

/* ----------Navbar----------- */

nav{
    height: 60px;
    background-color: black;
}
nav>img{
    height: 50px;
    margin-top: 8px;
    float: left;
}


.dropdown{
    width: 632px;
    height: 45px;
    background-color: #d7d7d7;
    margin-top: 7px;
    border-radius: 10px;
}
.dropdown>img{
   height: 22px;
}
.dropdown>input{
    height: 42px;
    width: 537px;
    border: none;
}

.nloc{
    color: white;
    margin-top: 10px;
}

ul{
    list-style: none;
}
.navitem{
    margin-left: 15px;
    float: left;
}


.flag{
    width: 40px;
    height: 50px;
    margin-top: 3px;
}
.flag>img{
    height: 26px;
    padding-top: 12px;
}
.login{
    width:127px ;
    height: 37px;
    margin-top: 4px;
    color: white;
    padding: 5px;
}

.rnd {
    height: 39px;
    margin-top: 4px;
    width: 90px;
    color: white;
    padding: 4px;
}


.cart{
    height: 50px;
    margin-top: 4px;
    width: 100px;
    color: white;
    float: right;
}
.cart>img{
    height: 40px;
    padding: 2px;
}
.carttext{
    margin-top: 15px; position: absolute; margin-left: 5px;
}
#nav2{
    color: #bedadd;
    background-color: #2a2846;
    height: 40px;
    margin-top: -12px;
}
#nav2>.nav21{
    margin-left: 25px;
    padding-top: 11px;
    float: left;
}
.nav22{
    /* width: 180px; */
    
    padding-top: 9px;
    height: 28px;
    float: right;
    margin-right: 10px;
}
.nav22>i{
    font-size: 10px;
}