*{
    margin: 0%;
}

header{
    height: 60px;
    background-color: tomato;
}

#icon{
    float: left;
    color: white;
    font-size: 25px;
}

#social{
    /* border: 2px solid green; */
    height: 400px;
}

#social img{
    height: 50px;
    width: 50px;
    float: right;
    padding: 7px;
    
}
#search{
    /* border: 2px solid yellow; */
    height: 400px;
    background-image: url("./imges/zoma.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

#logo {
    font-size: 70px;
    height: 120px;
    width: 107px;
    position: absolute;
    background-color: white;
    border-radius: 150%;
    margin-top: 35px;
    margin-left: 500px;
    padding-left: 52px;
    padding-top: 32px;
}

#dropdown{
    position: absolute;
    margin-top: 270px;
    height: 40px;
    width: 50%;
    margin-left: 30%;
    
}
#dropdown select{
    height: 100%;
    text-align: center;
    
}
#dropdown #rest{
    width: 70%;
}
#headsearch{
    position: absolute;
    font-size: 50px;
    margin-top: 15%;
    margin-left: 30%;
    color: white;
}

#quicksearch{
    /* border: 2px solid tomato; */
    height: 600px;
    width: 70%;
    margin: auto;
    margin-top: 60px;
}

#quise{
    line-height: 30px;
}

#quise h2{
    font-size: 2rem;
    margin-left: 2%;
}

#quise h5{
    font-size: 15px;
    margin-left: 2%;
}
h2{
    color: tomato;
}
h5{
    color: rgb(65, 55, 55);
}
#cards{
    /* border: 2px solid green; */
    height: 500px;
}
.cards{
    /* border: 2px solid red; */
    height: 33%;
    width: 28%;
    margin: 20px;
    float: left;
    box-shadow: 5px 5px 5px 5px rgb(173, 160, 160);   
}

.cards:hover{
    /* transform: rotate(30deg); */
    animation-name: card;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
    /* animation-direction: alternate; */
}
@keyframes card{
    0% {transform:rotate(-20deg);}
    20%{transform:rotate(20deg)}
    40%{transform: scale(1.5);}
    80%{transform:rotate(20deg)}
    100%{transform: rotate(-20deg);}

    /* 100%{transform:scale(20deg)} */

  
}
.cardimg{
    float: left;
    width: 50%;

}

.cardimg>img{
    width: 100%;
    height:165px;
    background-size: cover;
}

.cardte{
    text-align: center;
    padding-top: 40px;
}
footer{
    height: 100px;
    border: 2px solid purple;
    background-color: tomato;
}
.footer{
    height: 100px;
    border: 2px solid greenyellow;
    width: 30%;
    float: left;
}

/* RESPONSIVE */
@media screen and (man-width: 1020px){
    #dropdown{
        margin-left: 30%;
    }
}
@media screen and (max-width: 1100px){

    #headsearch{
        margin-top: 18%;
    }
    #quise{
        margin-left: 50px;
    }
    #cards{
        height: 620px;
        margin-left: 48px;
    }
    #cards>.cards{
        width:40% ;
        height: 165px;
    }
    footer{
        margin-top: 100px;
    }

}

@media screen and (max-width: 1020px){
    #logo{
        margin-left:42% ;
    }
    #headsearch{
        margin-left: 20%;
        margin-top: 22%;
    }
    #dropdown{
        margin-left: 20%;
        width: 70%;
    }
}


@media screen and (max-width: 845px){
    h2{
        font-size: 20px;
    }
}
@media screen and (max-width: 800px){
    #headsearch{
        font-size: 40px;
        margin-top: 187px;
    }
    
    #cards{
        height: 820px;
        margin-left: 30px;
    }
    #cards .cards{
        width:80% ;
        height: 165px;
    }
    footer{
        margin-top: 700px;
    }
    h2{
        font-size: 35px;
    }

}
@media screen and (max-width: 730px){
    #headsearch{
        font-size: 30px;
        margin-top: 200px;
        position: absolute;
    }
    #dropdown #rest{
      width:55% 
  }
  h2{
      font-size: 25px;
   }

}
